<apex:page controller="GetDataFromMultipleObject" >
    <apex:pageBlock >
        <apex:pageBlockSection title="Select Object">
            <select>
            <option value="con">Contact</option>
            <option value="Acc">Account</option>
        </select>
        </apex:pageBlockSection>
    </apex:pageBlock>       
        
<apex:pageBlock >
    <apex:pageBlockSection title="Objects Information">
        <apex:pageBlockTable value="{!objectList}" var="item">
            <apex:column headerValue="Object" value="{!item[0]}" />
            <apex:column headerValue="Name" value="{!item[1]}" />
        </apex:pageBlockTable> 
    </apex:pageBlockSection>
</apex:pageBlock>
</apex:page>