h2 {
    color : tomato;
    text-decoration-line: underline;
    font-size: 30px;
}
h1{
    color : green;
    font-size: 30px;
    margin-left:20px;
}
.header{
    background: coral;
}
.inf {
    margin : 8px;
    padding : 1.5px;
    font-size: 15px;
}
.myClass {
    border : 2px solid;
    margin : 50px;
    border-radius: 10px;
}

.aa {
    margin : 25px;
}
.img{
    display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 40%;
}
.btn{
    background-color: tomato; 
}
.container{  
	text-align: center;   
	padding-top: 50px; 
    font-size: 25px;
    margin:3px;
    
} 